.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  position: relative;
  height: 60vh;
  aspect-ratio: auto;
  box-shadow: -1px -1px 38px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px -1px 38px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 38px -3px rgba(0, 0, 0, 0.75);
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup > * {
  display: block;
}

.hero-component {
  min-height: 90vh;
  flex-wrap: wrap;
}

.project-preview {
  object-fit: contain;
  object-position: top;
}

@media screen and (max-width: 600px) {
  .browser-mockup {
    height: auto;
    margin-bottom: 10px;
  }
  .hero-component {
    min-height: auto;
    gap: 20px;
  }
  .hero-component {
    margin-bottom: 30px;
  }
}
